<h1>Welcome to our home page</h1>

<ul>
  <% @recipes.each_with_index do |recipe, idx| %>
    <li>
      <%= recipe.name.capitalize %>
      <a href="/delete/<%= idx %>">DELETE THIS RECIPE</a>
    </li>
  <% end %>
  <a href="/new">Add a recipe</a>
</ul>